@import "frappe.css";
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window#waybar {
  background: transparent;
  color: @text;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  /* background-color: #24273a; */
  background: @surface0;
  border-radius: 24px;
  opacity: 1;
  margin: 0 5px;
}

#workspaces button {
  color: #ed8796;
}

.modules-right {
  background: @base;
  padding: 0 5px;
  border-radius: 24px;
}

.modules-center {
  background: @base;
  padding: 0 15px;
  border-radius: 24px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
/*   background-color: #3f3f3f; */
/* } */
/**/
/* window#waybar.chromium { */
/*   background-color: #000000; */
/*   border: none; */
/* } */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: #c6a0f6;
  /* background: inherit; */
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd 

#window

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
}

@keyframes blink {
  to {
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#cpu {
  margin: 0 20px;
}

#memory {
  margin: 0 20px;
}

#disk {
}

#pulseaudio {
  margin: 0 20px;
}

#pulseaudio.muted {
  margin: 0 20px;
}

#wireplumber {
}

#wireplumber.muted {
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
  margin: 0 20px;
}

#temperature.critical {
}

#tray {
  margin: 0 20px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
}

#keyboard-state {
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
}

#scratchpad {
}

#scratchpad.empty {
}
